.product-management-detail {
    min-height: 100vh;
}

.product-management-detail-content {
    padding: 16px 16px;
}

.product-detail-bottom-space {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
}

.product-detail-card {
    width: 100%;
}

.product-detail-bottom-parent{
    display: flex;
    justify-content: end;
    align-content: center;
    margin-top: 15px;
    padding-bottom: 15px;
}

.product-detail-save-button {
    display: flex;
    justify-content: end;
    align-content: center;
    margin-top: 15px;
}

.product-detail-modify-button {
    margin-right: 15px;
}

.product-detail-cancel-button {
    margin-right: 15px;
}

.product-detail-delete-button {
    margin-right: 15px;
}

.product-detail-form-item {
    margin: 0;
}

.product-detail-form-select {
    width: 100%;
}

.product-detail-option-tag-card-content {
    text-align: center;
}

.product-detail-option-tag-input {
    width: 40%;
    margin-inline-end: 8px;
    vertical-align: top;
}

.product-detail-option-add-tag {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.ant-input-number .ant-input-number-input {
    text-align: center;
}